*{
    box-sizing: border-box;
}

/* .purple{
    background-color: #2b2d42;
    color: white;
} */

.hero>h1{
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5em;
}

body{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    color: white;

}

h5{
    font-size: 1.35rem ;
}

span{
    font-size: 1.1rem;
}

a{
    color:  white;
    cursor: pointer;
}

a:hover{
    color: white;
}

#content{
    min-height: 76.5vh;
}

.hide{
    display: none!important
}

/*----------------------------------------------------NAVBAR---------------------*/

.navbar{
    background-color: #2b2d42;
    border-bottom: 1px solid black;
}

a#logo{
    color: white;
}

a#logo:hover{
    color: white;
}

/*-----------------------------------------------MAIN PAGE-----------------*/

#number-of-item{
    margin-top: 3rem;
    padding-bottom: 1rem;
}

a.simple{
    color: black;
    text-decoration: none;
}

.list-group-horizontal>.list-group-item:first-child,.list-group-horizontal>.list-group-item:last-child,.list-group-item,.list-group-item:last-child,.list-group-item:first-child,.list-group-horizontal>.list-group-item+.list-group-item{
    padding: .40rem;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
    width: 40px;
    text-align: center;
    transition: all .15s;
    /* color: black; */
}

.list-group-item{
    color: black;
}

.list-group-item:hover{
    background-color: #4b4e69;
    color: white;
}

.items-active{
    background-color: #2b2d42;
    color: white;
}

.list-group{
    margin: 0 auto;
    padding-bottom: 10px;
}

.book{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1em;
    height: 140px;
    cursor: pointer;
    transition: all .15s;
    background-color:  white;
}

.book:hover{
    transform: translateY(-7px);
    box-shadow: 0 5px 10px 1px rgba(0,0,0,.5);
}

img{
    width:  100%;
    margin: auto;
}

.image-book {
    min-width: 100px;
    max-width: 100px;
    overflow: hidden;
}

.description-book{
    margin-left: 1.5em;
    max-height: 500px;
}

.cut{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#num-of-page{
    margin: 0 auto;
}

/*-------------------------------------DETAILS PAGE--------------------------------*/

.book-details{
    flex-direction: column;
}

.image-details{
    min-width: 128px;
    max-width: 128px;
    overflow: hidden;
    margin: 0 auto;
}


.description-book-details{
    border-top: 1px solid grey;
    margin: 0;
    text-align: left;
    padding: 1em;
}

.btn-div{
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.my-btn{
    background-color: white;
    /* background-color: #2b2d42; */
    color: #2b2d42;;
    border: 1px solid white;
}

.my-btn:hover{
    color: #2b2d42;
}

.my-btn:active{
    font-size: .95em;
}

/*-------------------------------------------FOOTER--------------------------*/

.footer{
    justify-content: center;
    align-items: center;
    background-color:    #2b2d42;
}

a.underline{
    text-decoration: underline;
}

/*-----------------------------------------MEDIA----------------------------*/
@media(max-width:500px){
    #container-nav{
        flex-direction: column;
    }
    .navbar-brand,form{
        margin: 0 auto;
    }

    #main{
    min-height: 74.2vh;
    }

    #number-of-item{
        margin-top: 1rem;
        padding-bottom: 0;
    }

    .hero>h1{
        font-size: 4.2rem ;
    }
    
}
